$black: #000;
$dark: #f7b733;
$light: rgba(254, 243, 224, 0.52);


.entry-content .wp-block-shuttle-block-ws-content-block,
.wp-block-shuttle-block-ws-content-block {


    .ws-content-block-outer {
        padding-bottom: 20px; }
    .ws-content-block-outer .ws-content-block-inner {
        overflow: hidden;
        padding: 40px;
        border-radius: 21px;
        background-color: #fff; }
    .ws-content-block-outer .ws-content-block-inner.dropshadow {
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.06); }
    .ws-content-block-outer .ws-content-block-inner .ws-content-block--title {
        color: #0f3773;
        margin-bottom: 20px; }
    .ws-content-block-outer .ws-content-block-inner .ws-fa-icon-container fa-icon {
        color: inherit;}
    .ws-content-block-outer .ws-content-block-inner .section-dropshadow-content-area {
        color: #4a4a4a;
        /*font-size: 28px;
        font-weight: 300;
        line-height: 47px;*/
        text-shadow: 0 12px 54px 0 rgba(0, 0, 0, 0.1); }

}