/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
/*
.wp-block-cgb-block-modules-block  {
  background: red;
  border: 0.2rem solid black;
  color: black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
*/
.entry-content .wp-block-shuttle-block-ws-content-block .ws-content-block-outer,
.wp-block-shuttle-block-ws-content-block .ws-content-block-outer {
  padding-bottom: 20px; }

.entry-content .wp-block-shuttle-block-ws-content-block .ws-content-block-outer .ws-content-block-inner,
.wp-block-shuttle-block-ws-content-block .ws-content-block-outer .ws-content-block-inner {
  overflow: hidden;
  padding: 40px;
  border-radius: 21px;
  background-color: #fff; }

.entry-content .wp-block-shuttle-block-ws-content-block .ws-content-block-outer .ws-content-block-inner.dropshadow,
.wp-block-shuttle-block-ws-content-block .ws-content-block-outer .ws-content-block-inner.dropshadow {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.06); }

.entry-content .wp-block-shuttle-block-ws-content-block .ws-content-block-outer .ws-content-block-inner .ws-content-block--title,
.wp-block-shuttle-block-ws-content-block .ws-content-block-outer .ws-content-block-inner .ws-content-block--title {
  color: #0f3773;
  margin-bottom: 20px; }

.entry-content .wp-block-shuttle-block-ws-content-block .ws-content-block-outer .ws-content-block-inner .ws-fa-icon-container fa-icon,
.wp-block-shuttle-block-ws-content-block .ws-content-block-outer .ws-content-block-inner .ws-fa-icon-container fa-icon {
  color: inherit; }

.entry-content .wp-block-shuttle-block-ws-content-block .ws-content-block-outer .ws-content-block-inner .section-dropshadow-content-area,
.wp-block-shuttle-block-ws-content-block .ws-content-block-outer .ws-content-block-inner .section-dropshadow-content-area {
  color: #4a4a4a;
  /*font-size: 28px;
        font-weight: 300;
        line-height: 47px;*/
  text-shadow: 0 12px 54px 0 rgba(0, 0, 0, 0.1); }
.entry-content .wp-block-shuttle-block-cta,
.wp-block-shuttle-block-cta {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  padding: 50px; }
  @media only screen and (max-width: 767px) {
    .entry-content .wp-block-shuttle-block-cta,
    .wp-block-shuttle-block-cta {
      -ms-flex-direction: column;
          flex-direction: column; } }
  .entry-content .wp-block-shuttle-block-cta h2,
  .wp-block-shuttle-block-cta h2 {
    font-size: 2rem;
    margin: 1rem 0;
    color: inherit; }
  .entry-content .wp-block-shuttle-block-cta .shuttle-cta-url-wrapper,
  .wp-block-shuttle-block-cta .shuttle-cta-url-wrapper {
    display: -ms-flexbox;
    display: flex; }
  .entry-content .wp-block-shuttle-block-cta .btn,
  .wp-block-shuttle-block-cta .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; }
  .entry-content .wp-block-shuttle-block-cta .btn:focus,
  .entry-content .wp-block-shuttle-block-cta .btn:active:focus,
  .entry-content .wp-block-shuttle-block-cta .btn.active:focus,
  .entry-content .wp-block-shuttle-block-cta .btn.focus,
  .entry-content .wp-block-shuttle-block-cta .btn:active.focus,
  .entry-content .wp-block-shuttle-block-cta .btn.active.focus,
  .wp-block-shuttle-block-cta .btn:focus,
  .wp-block-shuttle-block-cta .btn:active:focus,
  .wp-block-shuttle-block-cta .btn.active:focus,
  .wp-block-shuttle-block-cta .btn.focus,
  .wp-block-shuttle-block-cta .btn:active.focus,
  .wp-block-shuttle-block-cta .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .entry-content .wp-block-shuttle-block-cta .btn:hover,
  .entry-content .wp-block-shuttle-block-cta .btn:focus,
  .entry-content .wp-block-shuttle-block-cta .btn.focus,
  .wp-block-shuttle-block-cta .btn:hover,
  .wp-block-shuttle-block-cta .btn:focus,
  .wp-block-shuttle-block-cta .btn.focus {
    color: #333;
    text-decoration: none; }
  .entry-content .wp-block-shuttle-block-cta .btn:active,
  .entry-content .wp-block-shuttle-block-cta .btn.active,
  .wp-block-shuttle-block-cta .btn:active,
  .wp-block-shuttle-block-cta .btn.active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .entry-content .wp-block-shuttle-block-cta .btn.disabled,
  .entry-content .wp-block-shuttle-block-cta .btn[disabled],
  .entry-content .wp-block-shuttle-block-cta fieldset[disabled] .btn,
  .wp-block-shuttle-block-cta .btn.disabled,
  .wp-block-shuttle-block-cta .btn[disabled],
  .wp-block-shuttle-block-cta fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: .65; }
  .entry-content .wp-block-shuttle-block-cta a.btn.disabled,
  .entry-content .wp-block-shuttle-block-cta fieldset[disabled] a.btn,
  .wp-block-shuttle-block-cta a.btn.disabled,
  .wp-block-shuttle-block-cta fieldset[disabled] a.btn {
    pointer-events: none; }
  .entry-content .wp-block-shuttle-block-cta .btn-default,
  .wp-block-shuttle-block-cta .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc; }
  .entry-content .wp-block-shuttle-block-cta .btn-default:focus,
  .entry-content .wp-block-shuttle-block-cta .btn-default.focus,
  .wp-block-shuttle-block-cta .btn-default:focus,
  .wp-block-shuttle-block-cta .btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c; }
  .entry-content .wp-block-shuttle-block-cta .btn-default:hover,
  .wp-block-shuttle-block-cta .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .entry-content .wp-block-shuttle-block-cta .btn-default:active,
  .entry-content .wp-block-shuttle-block-cta .btn-default.active,
  .entry-content .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-default,
  .wp-block-shuttle-block-cta .btn-default:active,
  .wp-block-shuttle-block-cta .btn-default.active,
  .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .entry-content .wp-block-shuttle-block-cta .btn-default:active:hover,
  .entry-content .wp-block-shuttle-block-cta .btn-default.active:hover,
  .entry-content .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-default:hover,
  .entry-content .wp-block-shuttle-block-cta .btn-default:active:focus,
  .entry-content .wp-block-shuttle-block-cta .btn-default.active:focus,
  .entry-content .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-default:focus,
  .entry-content .wp-block-shuttle-block-cta .btn-default:active.focus,
  .entry-content .wp-block-shuttle-block-cta .btn-default.active.focus,
  .entry-content .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-default.focus,
  .wp-block-shuttle-block-cta .btn-default:active:hover,
  .wp-block-shuttle-block-cta .btn-default.active:hover,
  .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-default:hover,
  .wp-block-shuttle-block-cta .btn-default:active:focus,
  .wp-block-shuttle-block-cta .btn-default.active:focus,
  .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-default:focus,
  .wp-block-shuttle-block-cta .btn-default:active.focus,
  .wp-block-shuttle-block-cta .btn-default.active.focus,
  .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c; }
  .entry-content .wp-block-shuttle-block-cta .btn-default:active,
  .entry-content .wp-block-shuttle-block-cta .btn-default.active,
  .entry-content .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-default,
  .wp-block-shuttle-block-cta .btn-default:active,
  .wp-block-shuttle-block-cta .btn-default.active,
  .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-default {
    background-image: none; }
  .entry-content .wp-block-shuttle-block-cta .btn-default.disabled:hover,
  .entry-content .wp-block-shuttle-block-cta .btn-default[disabled]:hover,
  .entry-content .wp-block-shuttle-block-cta fieldset[disabled] .btn-default:hover,
  .entry-content .wp-block-shuttle-block-cta .btn-default.disabled:focus,
  .entry-content .wp-block-shuttle-block-cta .btn-default[disabled]:focus,
  .entry-content .wp-block-shuttle-block-cta fieldset[disabled] .btn-default:focus,
  .entry-content .wp-block-shuttle-block-cta .btn-default.disabled.focus,
  .entry-content .wp-block-shuttle-block-cta .btn-default[disabled].focus,
  .entry-content .wp-block-shuttle-block-cta fieldset[disabled] .btn-default.focus,
  .wp-block-shuttle-block-cta .btn-default.disabled:hover,
  .wp-block-shuttle-block-cta .btn-default[disabled]:hover,
  .wp-block-shuttle-block-cta fieldset[disabled] .btn-default:hover,
  .wp-block-shuttle-block-cta .btn-default.disabled:focus,
  .wp-block-shuttle-block-cta .btn-default[disabled]:focus,
  .wp-block-shuttle-block-cta fieldset[disabled] .btn-default:focus,
  .wp-block-shuttle-block-cta .btn-default.disabled.focus,
  .wp-block-shuttle-block-cta .btn-default[disabled].focus,
  .wp-block-shuttle-block-cta fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc; }
  .entry-content .wp-block-shuttle-block-cta .btn-default .badge,
  .wp-block-shuttle-block-cta .btn-default .badge {
    color: #fff;
    background-color: #333; }
  .entry-content .wp-block-shuttle-block-cta .btn-primary,
  .wp-block-shuttle-block-cta .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; }
  .entry-content .wp-block-shuttle-block-cta .btn-primary:focus,
  .entry-content .wp-block-shuttle-block-cta .btn-primary.focus,
  .wp-block-shuttle-block-cta .btn-primary:focus,
  .wp-block-shuttle-block-cta .btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40; }
  .entry-content .wp-block-shuttle-block-cta .btn-primary:hover,
  .wp-block-shuttle-block-cta .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }
  .entry-content .wp-block-shuttle-block-cta .btn-primary:active,
  .entry-content .wp-block-shuttle-block-cta .btn-primary.active,
  .entry-content .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-primary,
  .wp-block-shuttle-block-cta .btn-primary:active,
  .wp-block-shuttle-block-cta .btn-primary.active,
  .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74; }
  .entry-content .wp-block-shuttle-block-cta .btn-primary:active:hover,
  .entry-content .wp-block-shuttle-block-cta .btn-primary.active:hover,
  .entry-content .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-primary:hover,
  .entry-content .wp-block-shuttle-block-cta .btn-primary:active:focus,
  .entry-content .wp-block-shuttle-block-cta .btn-primary.active:focus,
  .entry-content .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-primary:focus,
  .entry-content .wp-block-shuttle-block-cta .btn-primary:active.focus,
  .entry-content .wp-block-shuttle-block-cta .btn-primary.active.focus,
  .entry-content .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-primary.focus,
  .wp-block-shuttle-block-cta .btn-primary:active:hover,
  .wp-block-shuttle-block-cta .btn-primary.active:hover,
  .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-primary:hover,
  .wp-block-shuttle-block-cta .btn-primary:active:focus,
  .wp-block-shuttle-block-cta .btn-primary.active:focus,
  .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-primary:focus,
  .wp-block-shuttle-block-cta .btn-primary:active.focus,
  .wp-block-shuttle-block-cta .btn-primary.active.focus,
  .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40; }
  .entry-content .wp-block-shuttle-block-cta .btn-primary:active,
  .entry-content .wp-block-shuttle-block-cta .btn-primary.active,
  .entry-content .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-primary,
  .wp-block-shuttle-block-cta .btn-primary:active,
  .wp-block-shuttle-block-cta .btn-primary.active,
  .wp-block-shuttle-block-cta .open > .dropdown-toggle.btn-primary {
    background-image: none; }
  .entry-content .wp-block-shuttle-block-cta .btn-primary.disabled:hover,
  .entry-content .wp-block-shuttle-block-cta .btn-primary[disabled]:hover,
  .entry-content .wp-block-shuttle-block-cta fieldset[disabled] .btn-primary:hover,
  .entry-content .wp-block-shuttle-block-cta .btn-primary.disabled:focus,
  .entry-content .wp-block-shuttle-block-cta .btn-primary[disabled]:focus,
  .entry-content .wp-block-shuttle-block-cta fieldset[disabled] .btn-primary:focus,
  .entry-content .wp-block-shuttle-block-cta .btn-primary.disabled.focus,
  .entry-content .wp-block-shuttle-block-cta .btn-primary[disabled].focus,
  .entry-content .wp-block-shuttle-block-cta fieldset[disabled] .btn-primary.focus,
  .wp-block-shuttle-block-cta .btn-primary.disabled:hover,
  .wp-block-shuttle-block-cta .btn-primary[disabled]:hover,
  .wp-block-shuttle-block-cta fieldset[disabled] .btn-primary:hover,
  .wp-block-shuttle-block-cta .btn-primary.disabled:focus,
  .wp-block-shuttle-block-cta .btn-primary[disabled]:focus,
  .wp-block-shuttle-block-cta fieldset[disabled] .btn-primary:focus,
  .wp-block-shuttle-block-cta .btn-primary.disabled.focus,
  .wp-block-shuttle-block-cta .btn-primary[disabled].focus,
  .wp-block-shuttle-block-cta fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4; }
